<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * * The content below * * * * * * * * * * * -->
<!-- * * * * * * * * * * is only a placeholder * * * * * * * * * * -->
<!-- * * * * * * * * * * and can be replaced. * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * Delete the template below * * * * * * * * * * -->
<!-- * * * * * * * to get started with your project! * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->

<style>

  .toolbar {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    height: 60px;
    display: flex;
    align-items: center;
    vertical-align: auto;
    /* text-align: center; */
    background-color: #1976d2;
    color: white;
    font-weight: 600;
  }

  .content {
    display: flex;
    margin: 82px auto 32px;
    padding: 0 16px;
    max-width: 960px;
    /* flex-direction: column; */
    /* align-items: center; */
  }

  .column {
    flex: 50%;
    /* align-items: center; */
  }
</style>





<!-- Toolbar -->
<div class="toolbar">
  <!-- <div class="col"> -->
    <h1>Welcome</h1>
  <!-- </div> -->
</div>

<!-- Content -->
<div class="content">
  <div class="column">
    <p>hai</p>
    <app-input-video-component></app-input-video-component>
  </div>
  <div class="column">
    <p>hello</p>
    <app-output-video-component></app-output-video-component>
  </div>
</div>


<router-outlet></router-outlet>